.add-incident-to-category {
  padding: 20px;
}

.add-incident-to-category h2 {
  margin-bottom: 20px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  color: red; /* Set error message color to red */
  font-size: 0.875em;
  margin-top: -10px; /* Adjusted to bring closer to the input */
  margin-bottom: 10px; /* Adjusted to bring closer to the input */
}
